/* CSS Document */
.zh-1{ float:left; width:100%; overflow:hidden; margin-top:12px}
.zh-1l{ float:left; width:282px; overflow:hidden}
.zh-1r{ float:right; width:659px; overflow:hidden; background:url(../img/shlb_131213_2.jpg) no-repeat; height:124px}
.zh-1ra{ float:left; display:inline; width:609px; overflow:hidden; margin-left:25px; margin-top:11px; height:30px; line-height:30px; text-align:center; border-bottom:1px #f4f4f4 solid; font-size:20px; font-weight:bold; color:#2691c0; padding-bottom:5px}
.zh-1ra a{ font-size:20px; font-weight:bold; color:#b3d14d; margin:0px 4px}
.zh-1ra a:hover{ color:#c60}
.zh-1rb{ float:right; width:627px; overflow:hidden; margin-top:26px}
.zh-1rb span{ float:left; width:auto; height:20px; line-height:20px; font-size:16px; color:#333}
.zh-1rb img{ float:left; width:22px; overflow:hidden; display:inline; margin:0px 5px}
.ra{ float:left; width:auto; height:20px; line-height:20px; overflow:hidden; font-size:14px; color:#333; margin-top:1px; padding-right:16px; background:url(../img/shlb_131213_8.jpg) no-repeat right center; display:inline; margin-right:5px}
.rb{ float:left; width:auto; height:20px; line-height:20px; overflow:hidden; font-size:14px; color:#333; margin-top:1px;}

.lb{ float:left; width:100%; overflow:hidden; margin-top:13px; background:url(../img/shlb_131213_10.jpg) repeat-y}
.lb-1{ float:left; width:100%; overflow:hidden;background:url(../img/shlb_131213_9.jpg) no-repeat top left;}
.lb-1l{ float:left; display:inline; width:660px; overflow:hidden; margin-left:26px; margin-top:25px;}
.lb-1l .top1{ width:100%; float:left;overflow:hidden; border-bottom:3px #1390c7 solid }
.lb-1l .top1 ul{ width:645px; float:left; overflow:hidden}
.post_li{display: inline-block; font-size: 18px; text-align: center; width: 427px; overflow: hidden; white-space: nowrap; color:#139CD6}
.post_p{color: #B3D14D;}
.lis2_a {float:left; display:inline; width:106px;height:29px; line-height:29px;background: url(../img/shlb_131213_12.jpg)  no-repeat; text-align:center; overflow:hidden; margin-right:3px;font-size:16px; color:#fff; font-weight:bold; cursor:pointer }
.lis2 {float:left; display:inline; width:106px; height:29px; line-height:29px;background: url(../img/shlb_131213_13.jpg) no-repeat; text-align:center; overflow:hidden; margin-right:3px;font-size:16px; color:#3ca3d1; font-weight:bold}
#ContentBoxs21{ float:right; width:auto; display:inline; margin-top:8px; margin-right:5px }
#ContentBoxs22{ float:right; width:auto; display:inline; margin-top:8px;margin-right:5px }
#ContentBoxs21 a,#ContentBoxs22 a{ color:#52aed6; font-size:13px}
.lb-1l .top3{ float: left;width:100%;overflow:hidden; margin-top:3px}
.lb-a{ float:left; width:100%; overflow:hidden; margin-top:8px}
.la{ float:left; width:auto; height:24px; line-height:24px; overflow:hidden; font-size:13px; color:#828282}
.lb-a p{ float:left; width:592px; line-height:24px; overflow:hidden}
.lb-a p a{width:40px;float:left; display:inline; height:24px; line-height:20px; overflow:hidden; cursor:pointer; margin-right:0px; font-size:12px; color:#7f7f7f;padding:0px 1px;text-align: center}
.lb-a p a:hover{ color:#c60}

.ksxqlist_a{ color:#1390c7; background:#e1eff9; }
.lb-a p .focus{ background:#e1eff9; font-size:12px; color:#1390c7; }
.lb-a .selectv a{width:auto;padding:0px 5px 0px 5px;}
.lb-a .selectv .focus{width:auto;padding:0px 10px 0px 10px;}
.lb-1r{ float:right; display:inline; width:203px; overflow:hidden; background:#fafdfe; border:1px #d7edf7 solid; margin:26px 30px 0px 0px; padding-bottom:8px}
.lb-1r span{ float:left; width:100%; overflow:hidden; height:24px; line-height:24px; text-align:center; font-size:16px; font-weight:bold; color:#1390c7; margin-top:12px}
.lb-1r p{ float:right; width:190px; overflow:hidden; line-height:24px; height:96px; overflow:hidden}
.lb-1r p a{ font-size:12px; color:#9a9a9a; margin-right:12px; display:inline-block; text-align:center; width:40px; height:24px;}
.lb-1r p a:hover{ color:#c60}
.lb-1r .lc{ float:right; width:60px; height:24px; line-height:24px; overflow:hidden}
.lb-1r .lc a{ font-size:13px; color:#1390c7}
.lb-1r .lc a:hover{ color:#c60}

.lb-2{ float:left; width:100%; overflow:hidden; background:url(../img/shlb_131213_11.jpg) no-repeat bottom left; padding-bottom:20px}
.lb-2a{ float:left; display:inline; width:286px; overflow:hidden; margin:20px 0px 0px 23px; background:url(../img/shlb_131213_15.jpg) repeat-y}
.lb-2aa{ float:left; width:100%; overflow:hidden; background:url(../img/shlb_131213_14.jpg) no-repeat top}
.zh-zj{ float:left; display:inline; width:260px; margin:20px 13px 0px; overflow:hidden; background:url(../img/shlb_131213_17.jpg) repeat-x bottom; padding-bottom:13px}
.zja{ float:left; width:95px; height:130px;overflow:hidden}
.zjb{ float:right; width:154px; overflow:hidden; height:24px; line-height:24px; font-size:12px; color:#858585}
.zjb a{ font-size:14px; font-weight:bold; color:#1390c7; margin-right:5px}
.zjc{ float:right; width:154px; overflow:hidden}
.zjc img{ float:left; width:77px; overflow:hidden; margin-top:4px; display:inline; margin-right:2px}
.zjc span{ float:left; width:auto; height:24px; line-height:24px; overflow:hidden; font-size:12px; color:#ffbc50; font-weight:bold}
.zjc span a{ font-size:11px; color:#82d3fa}
.zjd{ float:right; width:154px; overflow:hidden; height:21px; line-height:21px; font-size:12px; color:#858585}
.zjd span{ font-size:12px; color:#373737}
.zje{ float:right; width:154px; overflow:hidden; margin-top:3px}
.lb-2ab{ float:left; width:100%; overflow:hidden; background:url(../img/shlb_131213_16.jpg) no-repeat bottom; padding-bottom:11px}
.lb-2ab p{ float:left; display:inline; width:260px; margin-left:13px; margin-top:9px; line-height:23px; height:69px; overflow:hidden; font-size:12px; color:#828282}
.lb-2ab p span{ font-weight:bold; color:#373737}

.page{height:30px;line-height:30px;text-align:center;font-size:14px;color:#000;margin:20px 0 0;overflow:Hidden; width:100%; float:left;}
.page a{color:#000;margin:0px 5px;}

.lb-3{ float:left; width:100%; overflow:hidden; margin-top:20px; padding-bottom:10px}
.lb-3 img{ float:left; display:inline; width:171px; margin-left:14px}
.lb-3 span{ float:right; width:753px; height:20px; line-height:20px; overflow:hidden; font-size:12px; color:#333}
.lb-3 p{ float:right; width:753px; line-height:21px; height:42px; overflow:hidden; font-size:12px; color:#797979}

.wz-1{ float:left; width:100%; overflow: hidden; background:url(../img/shlb_131213_10.jpg) repeat-y; margin-top:13px}
.wz-1a{ float:left; width:100%; overflow: hidden; background:url(../img/shlb_131213_9.jpg) no-repeat top; }
.wz-1l{ float:left; width:654px; overflow:hidden; margin-top:25px}
.wz-1la{ float:right; width:630px; height:140px;overflow:hidden; background:url(../img/shlb_131213_27.jpg) repeat-x bottom; padding-bottom:20px}
.wz-1l .more{clear:both;}
.wz-1la img{ float:left; width:128px; border:1px #d7edf7 solid}
.wz-1la .ya{ float:right; width:474px; overflow:hidden; line-height:30px; height:30px; font-size:20px; color:#3e3e3e; font-weight:bold; margin-top:2px}
.wz-1la .ya a{font-size:14px; color:#828282; margin-left:14px; font-weight:normal}
.wz-1la .yb{ float:left; width:229px; height:25px; line-height:25px; overflow:hidden; font-size:12px; color:#3e3e3e; display:inline; margin-left:26px}
.wz-1la .yb span{ color:#828282}
.wz-1la .yc{ float:left; width:215px; height:25px; line-height:25px; overflow:hidden; font-size:12px; color:#3e3e3e; display:inline;}
.wz-1la .yc span{ color:#828282}
.wz-1la .yd{ float:right; width:474px; height:25px;line-height:25px; overflow:hidden; font-size:12px; color:#3e3e3e; display:inline;}
.wz-1la .yd span{ color:#828282}
.wz-1la .ye{ float:right; width:474px; height:auto;line-height:25px; overflow:hidden; font-size:12px; color:#3e3e3e; display:inline;}
.wz-1la .ye span{ color:#828282}
.wz-1lb{ float:right; width:622px; overflow:hidden; margin-top:15px}
.wz-1lb span{ float:left; width:370px; height:20px; line-height:20px; overflow:hidden; font-size:14px; color:#828282}
.wz-1lb p{ float:left; width:394px; line-height:22px; height:44px; overflow:hidden}
.wz-1lb p a{ font-size:12px; color:#3e3e3e; margin-right:17px}
.wz-1lb p a:hover{ color:#c60}
.wz-1lc{ float:right; width:215px; overflow:hidden}
.wz-1lc img{ float:left; display:inline; width:84px; margin-left:18px}

.wz-1r{ float:right; width:253px; overflow:hidden; margin-top:18px}
.wz-1r span{ float:left; width:100%; overflow:hidden; height:24px; line-height:24px; font-size:15px; font-weight:bold; color:#3e3e3e}
.wz-1r p{ float:left; width:214px; overflow:hidden; line-height:22px; height:auto; overflow:hidden; font-size:12px; color:#828282}
.wz-1r p strong{ font-weight:normal; color:#434343}
.wz-1r ul{ float:left; width:250px; overflow:hidden}
.wz-1r li{ float:left; width:214px; overflow:hidden; font-size:12px; color:#828282; line-height:22px}
.wz-1r li a{ color:#1390c7}
.wz-1r li a:hover{ color:#c60}
.wz-1b{ float:left; width:100%; overflow:hidden; height:20px; background:url(../img/shlb_131213_11.jpg) no-repeat bottom}

.wz-2{ float:left; width:100%; overflow:hidden; }
.wz-2l{ float:left; width:678px; overflow:hidden; background:url(../img/shindex_131213_25.jpg) repeat-y; margin-top:15px;}
.wz-2la{ float:left; width:100%; overflow:hidden; background:url(../img/shindex_131213_24.jpg) no-repeat top}
.wz-2ln{ float:left; display:inline; width:634px; overflow:hidden; border-bottom:1px #d7edf7 solid; margin:10px 22px 0px; padding-bottom:7px}
.wz-2ln span{float:left; width:auto; height:28px; line-height:28px; overflow:hidden; font-size:18px; font-weight:bold; color:#9fc61b}
.wz-2ln span a{font-size:18px; font-weight:bold; color:#2a96c5}
.wz-2ln span a:hover{ text-decoration:none}
.wz-2ln p{ float:right; width:auto; height:23px; line-height:23px; overflow:hidden; margin-top:5px}
.wz-2ln p a{ font-size:13px; color:#52aed6}
.wz-2ln p a:hover{ color:#c60}
.wz-2lb{ float:left; width:100%; overflow:hidden;background:url(../img/shindex_131213_26.jpg) no-repeat  bottom; padding-bottom:20px}

.wz-2lc{ float:left; display:inline; width:630px; overflow:hidden; margin:29px 24px 0px; border-bottom:1px #dbdbdb dashed; padding-bottom:20px}
.wz-2a{ float:left; width:410px; overflow:hidden}
.wz-2a span{ float:left; width:410px; height:20px; line-height:20px; overflow:hidden; font-size:12px; color:#828282}
.wz-2a span a{ font-size:12px; color:#3e3e3e}
.wz-2a p{ float:left; width:410px; overflow:hidden; line-height:20px; font-size:12px; color:#3e3e3e}
.wz-2a .wa{ float:left; width:auto; height:22px; line-height:22px; overflow:hidden; font-size:12px; color:#828282}
.wz-2a .wa strong{ font-weight:normal; margin-right:15px}  
.wz-2a img{ float:left; display:inline; width:56px; overflow:hidden; margin-left:10px; margin-top:1px}
.wz-2b{ float:right; width:210px; overflow:hidden}
.wz-2b p{ float:left; width:100%; overflow:hidden; text-align:right; height:20px; line-height:20px; font-size:12px; color:#3e3e3e}
.wz-2b p span{ font-size:12px; color:#828282; margin-left:19px}
.wz-2b .wb{ float:right; width:44px; height:21px; line-height:21px; text-align:center; overflow:hidden; background:#e1eff9;font-size:12px; color:#3d9ee9; margin-top:16px}
.wz-2b .wb a{ font-size:12px; color:#3d9ee9}
.wz-2b .wb a:hover{ color:#c60}

.wz-2r{ float:right; width:262px; overflow:hidden; background:url(../img/shindex_131213_21.jpg) repeat-y; margin-top:13px;}
.wz-2ra{ float:left; width:100%; overflow:hidden; background:url(../img/shindex_131213_20.jpg) no-repeat top}
.wz-2ra span{ float: left; display:inline;width:auto; height:30px; line-height:30px; font-size:18px; font-weight:bold; color:#bad759; margin:12px 0px 0px 12px}
.wz-2ra span a{ font-size:18px; font-weight:bold; color:#1390c7}
.wz-2ra p{ float:right; width:52px; height:20px; line-height:20px; overflow:hidden; margin-top:19px}
.wz-2ra p a{ font-size:13px; color:#52aed6}
.wz-2ra p a:hover{ color:#c60}

.wz-2rb{ float:left; width:100%; overflow:hidden; background:url(../img/shindex_131213_22.jpg) no-repeat bottom; padding-bottom:14px}
.wz-2rn{ float:left; display:inline; width:224px; overflow:hidden; border-bottom:1px #d7edf7 solid; margin:8px 19px 0px; padding-bottom:6px}
.rna{ float:left; width:64px; overflow:hidden; margin-top:8px}
.rnb{ float:right; width:150px; height:20px; line-height:20px; overflow:hidden; font-size:12px; color:#333}
.rnb a{ font-size:12px; font-weight:bold; color:#333; margin-right:4px}
.rnc{ float:right; width:152px; overflow:hidden}
.rnc img{ float:left; width:77px; overflow:hidden; margin-top:2px}
.rnc p{ float:left; width:auto; height:20px; line-height:20px; overflow:hidden; font-size:12px; font-weight:bold; color:#82bbf4}
.rnc p span{ color:#ffbc50}
.rnd{ float:right; width:150px; overflow:hidden; line-height:20px; height:40px; font-size:12px; color:#767676}

.wz-3{ float:left; width:100%; overflow:hidden; margin-top:13px; background:url(../img/shlb_131213_10.jpg) repeat-y}
.wz-3a{ float:left; width:100%; overflow:hidden;background:url(../img/shlb_131213_9.jpg) no-repeat top}
.wz-3a span{ float:left; display:inline; width:897px; overflow:hidden; margin:12px 27px 0px; border-bottom:1px #d7edf7 solid; height:33px; line-height:33px; font-size:20px; font-weight:bold; color:#1390c7; padding-bottom:4px}
.wz-3a span a{font-size:20px; font-weight:bold; color:#9fc425}
.wz-3b{ float:left; width:100%; overflow:hidden;background:url(../img/shlb_131213_11.jpg) no-repeat bottom; padding-bottom:24px}

.wz-3n{ float:left; display:inline; width:210px; overflow:hidden; margin:20px 0px 0px 22px; background:url(../img/shlb_131213_38.jpg) repeat-y}
.wz-3na{ float:left;width:100%; overflow:hidden; background:url(../img/shlb_131213_37.jpg) no-repeat top}
.wz-3na span{ float:left; width:100%; overflow:hidden; height:23px; line-height:23px; text-align:center; margin-top:12px; font-size:15px; font-weight:bold; color:#1390c7}
.wz-3na span a{font-size:15px; font-weight:bold; color:#1390c7}
.wz-3na span a:hover{ color:#c60}
.wz-3nb{ float:left;width:100%; overflow:hidden; background:url(../img/shlb_131213_39.jpg) no-repeat bottom; padding-bottom:16px}
.wz-3nc{ float:left; width:100%; overflow:hidden; text-align:center; margin-top:5px}
.wz-3nb ul{ float:right; width:192px; overflow:hidden; margin-top:9px; height:88px}
.wz-3nb li{ background: rgba(0, 0, 0, 0) url("../img/1011tpynx_list_01.gif") no-repeat scroll 0 13px;padding-left: 13px;float:left; width:170px; line-height:22px; height:22px; overflow:hidden; font-size:12px; color:#828282}
.wz-3nb li span{ color:#373737}
.wz-3nd{ float:left; display:inline; width:134px; height:40px; overflow:hidden; background:url(../img/shlb_131213_44.jpg) no-repeat; margin-top:2px; margin-left:14px}
.wza{ float:left; width:67px; line-height:20px; height:40px; text-align:center; overflow:hidden; font-size:12px; color:#828282}
.wza span{ float:left; width:100%; overflow:hidden; color:#1390c7}
.wz-3ne{ float:left; margin-top:2px; width:51px}

.wz-4a{ float:right; width:625px; overflow:hidden; background:url(../img/shlb_131213_27.jpg) repeat-x bottom; padding-bottom:25px}
.wz-4aa{ float:left; display:inline; width:176px; border:1px #d7edf7 solid; margin-right:16px}
.wz-4ab{ float:left; width:418px; height:30px; line-height:30px; overflow:hidden; font-size:18px; font-weight:bold; color:#3e3e3e}
.wz-4a ul{width:418px;float:left;  overflow:hidden; margin-top:3px}
.wz-4a li{ clear:both;height:23px; line-height:23px; overflow:hidden; font-size:12px; color:#3e3e3e}
.wz-4a li span{ color:#828282}
.wz-4ac{ clear:both;float:right; width:212px; overflow:hidden; margin-top:0px}
.wz-4ac img{ float:left; display:inline; width:84px; margin-left:16px}
.wz-4b{ float:right; width:625px; overflow: hidden; margin-top:16px;height:66px;}
.wz-4b span{ float:left; width:500px; height:23px; line-height:23px; overflow:hidden; font-size:14px; color:#828282}
.wz-4b p{ float:left; width:622px; line-height:21px; text-indent:2em; font-size:12px; color:#3e3e3e; margin-top:2px }
.wz-4b p a{ color:#0e83b6}
.wz-4b p a:hover{ color:#c60}

.wz-5{ float: left; width:100%; overflow:hidden; margin-top:13px}
.ml{ float:left; width:678px; overflow:hidden;}
.wz-5l{ float:left; width:678px; overflow:hidden; background:url(../img/shindex_131213_25.jpg) repeat-y; margin-top:15px;}
.wz-5la{ float:left; width:100%; overflow:hidden; background:url(../img/shindex_131213_24.jpg) no-repeat top}
.wz-5la span{ float:left; display:inline; width:632px; overflow:hidden; height:36px; line-height:36px; margin:5px 23px 0px; border-bottom:1px #d7edf7 solid; font-size:20px; font-weight:bold; color:#1390c7}
.wz-5la span a{font-size:20px; font-weight:bold; color:#9fc61b}
.wz-5lb{ float:left; width:100%; overflow:hidden; background:url(../img/shindex_131213_26.jpg) no-repeat bottom; padding-bottom:8px}

.wz-5ln{ float:left; display:inline; width:632px; overflow:hidden; margin:14px 23px 0px; border-bottom:1px #dbdbdb dashed; padding-bottom:12px}
.wz-5ln span{ float:left; width:96px; height:23px; line-height:23px; overflow:hidden; text-align:center; font-size:14px; color:#828282}
.wz-5ln ul{ float:right; width:533px; overflow:hidden}
.wz-5ln li{ float:left; display:inline; width:160px; height:23px; line-height:23px; overflow: hidden; margin-left:8px; margin-right:7px; font-size:14px; color:#828282}
.wz-5ln li a{ font-size:14px; color:#2a96c5}
.wz-5ln li a:hover{ color:#c60}

.mr{ width:262px; overflow:hidden; float:right;}

.wz-5r{ float:right; width:262px; overflow:hidden; background:url(../img/shindex_131213_21.jpg) repeat-y; margin-top:15px;}
.wz-5ra{ float:left; width:100%; overflow:hidden; background:url(../img/shindex_131213_20.jpg) no-repeat top}
.wz-5ra span{ float: left; display:inline;width:auto; height:30px; line-height:30px; font-size:18px; font-weight:bold; color:#1390c7; margin:12px 0px 0px 12px}
.wz-5ra span a{ font-size:18px; font-weight:bold; color:#bad759}
.wz-5rb{ float:left;width:100%; overflow:hidden; background:url(../img/shindex_131213_22.jpg) no-repeat  bottom; padding-bottom:59px}
.wz-5rn{ float:right; width:246px; overflow:hidden; margin-top:15px}
.wra{ float:left; width:229px; overflow:hidden; height:20px; line-height:20px; font-size:12px; color:#858585}
.wra a{ font-weight:bold; color:#1390c7; margin-right:12px; font-size:14px}
.wrb{ float:left; width:64px; border:1px #d7edf7 solid; margin-top:4px}
.wrc{ float:left; width:168px; overflow:hidden; display:inline; margin-left:7px;}
.wrc img{ float:left; width:78px; overflow:hidden; margin-top:2px}
.wrc p{ float:left; width:auto; height:20px; line-height:20px; font-size:12px; color:#7cb8ee; font-weight:bold}
.wrc p span{ color:#f9ab4f}
.wrd{ overflow:hidden;float:left; display:inline; width:158px; height:18px; line-height:18px; margin-left:7px; font-size:12px; color:#373737}
.wrd span{ font-size:12px; color:#858585}
.wre{ float:left; width:229px; line-height:23px; height:69px; overflow:hidden; font-size:12px; color:#828282}
.wre span{ color:#373737} 
.wrf{ float:right; width:225px; overflow:hidden; margin-top:11px}
.wrf img{ float:left; display:inline; width:84px; margin-left:8px}
.wzn{ float:left; display:inline; width:228px; border-top:1px #d7edf7 solid; margin:37px 0px 0px 15px; height:20px}

.wz-5rc{ float:left;width:100%; overflow:hidden; background:url(../img/shindex_131213_22.jpg) no-repeat  bottom; padding-bottom:14px}
.wz-5rs{ float:left; display:inline; width:232px; overflow:hidden; margin-top:10px; margin-left:15px; height:277px}
